
html, body {

  font-family: 'Open Sans', sans-serif; /* Set Open Sans as the default font */
  color: #fff; /* Set default text color to white */
}

/* Set the background color or image */
body {
  background-size: cover; /* Cover the entire screen */
  background-color: #000; /* Fallback background color if image is not available */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.custom-spacing {
  margin-bottom: 15px; /* Add 5px spacing at the bottom */
}


.explorer {
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 1.8em;
  text-align: left;
}